@layer base {
   .font-custom {
      font-family: 'Avenir', sans-serif;
   }
}

.filter-black {
   filter: invert(28%) sepia(8%) saturate(117%) hue-rotate(131deg)
      brightness(94%) contrast(90%);
}

/* body {
   font-family: "Plus Jakarta Sans", sans-serif;
} */

.footer {
   margin-top: 9.5rem;
}

.border-width {
   border-top-width: 1px;
}

.range-input input {
   position: absolute;
   width: 100%;
   height: 5px;
   top: -5px;
   background: none;
   pointer-events: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
   height: 17px;
   width: 17px;
   border-radius: 50%;
   background: #141515;
   pointer-events: auto;
   -webkit-appearance: none;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* PAGINATION */

.box ul li {
   list-style: none;
   margin: 0px 10px;
   width: 40px;
   height: 40px;
   text-align: center;
}

.ddd {
   height: 1px;
   background: rgba(0, 0, 0, 0.1);
}

.box ul li {
   font-size: 25px;
   text-decoration: none;
   color: #000;
   display: block;
   border-radius: 8px;
   transition: 0.2s;
}
.box ul li.active {
   background-color: rgb(230, 230, 234);
   color: #0d0d0d;
}
.box ul li a:hover,
.box button a:hover {
   background: transparent;
   color: #0d0c0c;
}

/* ---------- Buttons ---------- */
.box button {
   font-size: 20px;
   font-weight: bold;
   background-color: transparent;
   border: 1px solid #d1cfcf;
   cursor: pointer;
   border-radius: 9px;
   overflow: hidden;
   width: 114px;
   height: 40px;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
}
.box button a {
   text-decoration: none;
   padding: 10px 10px;
   display: block;
   color: #000;
   transition: 0.2s;
}

@media only screen and (min-width: 200px) and (max-width: 648px) {
   .box {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 20px;
   }
   .box button {
      cursor: pointer;
      border-radius: 9px;
      overflow: hidden;
      width: 90px;
      height: 40px;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
   }
   .box button a {
      text-decoration: none;
      padding: 2px;
      display: block;
      color: #000;
      transition: 0.2s;
   }
   .box ul {
      display: flex;
      margin: 0px;
   }

   .box ul li {
      width: 38px;
      height: 38px;
      font-size: 15px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

#products-preview {
   position: absolute;
   top: 0;
   left: 0;
   min-height: 100%;
   width: 100%;
   background: rgba(0, 0, 0, 0.8);
   justify-content: center;
   z-index: 10;
   padding-top: 9rem;
}

main {
   max-width: 100%;
}

.preview {
   padding: 3rem;
   background: #fff;
   border-radius: 30px;
   width: 80%;
   height: 100%;
}

.number {
   display: flex;
   height: 52px;
   align-items: center;
   padding: 16px 72px;
   justify-content: center;
   border-radius: 62px;
   background: #f0f0f0;
   color: #000;
   margin-right: 10px;
}

.addtocard {
   display: flex;
   padding: 16px 54px;
   justify-content: center;
   align-items: center;
   gap: 12px;
   flex-shrink: 0;
   border-radius: 62px;
   background: #000;
   color: white;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content a {
   color: #333;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
}

.dropdown-content a:hover {
   background-color: #ddd;
}

.dropdown:hover .dropdown-content {
   display: block;
}

.sortStyles:hover .dropdownContent {
   display: block;
}

.dropdownContent a {
   display: block;
   padding: 0.5rem;
   text-decoration: none;
   color: #333;
}

.dropdownContent a:hover {
   background-color: #f9f9f9;
}

#products-preview .preview #preview-container .fa-times {
   top: 6rem;
   margin-left: auto;
   cursor: pointer;
   color: #444;
   font-size: 3rem;
}

.size {
   opacity: 60%;
}

.size.active {
   opacity: 100%;
   background-color: #000;
   color: #ffffff;
}

/* IMAGE CONTAINER */

.product-container {
   max-width: 295px;
   cursor: pointer;
   margin: 0 auto;
   width: 100%;
}

.img-wrapper {
   margin-bottom: 17px;
   width: 100%;
   border-radius: 20px;
}

.img-wrapper img {
   margin-bottom: 11px;
   height: 298px;
   width: 100%;
   object-fit: cover;
}

/*    preview */

.actions {
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 30px;
}
#quantity {
   display: flex;
   height: 52px;
   align-items: center;
   justify-content: space-between;
   border-radius: 62px;
   --tw-bg-opacity: 1;
   background-color: rgba(240, 240, 240, 1);
   background-color: rgba(240, 240, 240, var(--tw-bg-opacity));
   padding-top: 16px;
   padding-bottom: 16px;
   padding-left: 20px;
   padding-right: 20px;
}

.add-cart {
   flex: 1 1 0%;
   border-radius: 62px;
   background-color: rgba(0, 0, 0, 1);
   background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
   padding-top: 16px;
   padding-bottom: 16px;
   padding-left: 10px;
   padding-right: 10px;
   font-weight: 500;
   --tw-text-opacity: 1;
   color: rgba(255, 255, 255, 1);
   color: rgba(255, 255, 255, var(--tw-text-opacity));
}

#youMightLikeProds {
   width: 100%;
}

.img-prev-container {
   border-radius: 20px;

   width: 225px;
   height: 225px;
}

.img-prev-container img {
   height: 100%;
}

.imgcontainer img {
   height: 500px;
   object-fit: cover;
}

@media only screen and (min-width: 648px) and (max-width: 1024px) {
   #prev-top-content {
      display: flex;
      flex-wrap: wrap;
   }

   .imgcontainer {
      width: 500px;
      padding-bottom: 20px;
   }

   .imgcontainer img {
      width: 100%;
      height: 300px;
      object-fit: cover;
   }

   .box ul li {
      margin: 3px;
   }
}

@media only screen and (min-width: 500px) and (max-width: 750px) {
   .preview {
      padding: 20px;
      width: 90%;
   }

   .imgcontainer {
      padding-right: 10px;
      width: 600px;
   }

   .imgcontainer img {
      width: 100%;
      height: 300px;
      object-fit: cover;
   }

   .percent-disc {
      font-size: 11px;
   }
}
@media only screen and (min-width: 200px) and (max-width: 648px) {
   header p {
      font-size: 12px;
   }

   .footer {
      padding-top: 15rem;
   }
   .footer-style {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   .card-style {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
   }

   .banner-style {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
   }

   .text-banner {
      font-size: 32px;
   }

   .prices {
      gap: 5px;
   }

   .btn-subscr,
   .btn-mail {
      width: 100%;
      height: 48px;
   }

   .navigation {
      margin: 0;
      padding-left: 20px;
   }

   .filter-style {
      display: none;
   }

   .percent-disc {
      font-size: 10px;
   }

   #products-section {
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
   }
   .products-style {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   #sort-show {
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6);
      font-size: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .sortStyles {
      display: none;
   }

   #prev-top-content {
      display: flex;
      flex-wrap: wrap;
   }

   #maincontent {
      margin: 1px;
      padding: 1px;
   }
   .preview {
      padding: 30px;
      width: 90%;
   }

   .badge {
      width: 39px;
      height: 28px;
   }

   .title-prev {
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
   }

   .price-prev {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .containerbrn {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 10px;
   }

   .addtocard {
      font-size: 15px;
   }

   .product-container {
      max-width: 210px;
      cursor: pointer;
      margin: 0 auto;
   }

   .img-wrapper {
      width: 100%;
      border-radius: 20px;
   }

   .img-wrapper img {
      height: 190px;
   }

   .imgcontainer {
      width: 600px;
   }

   .imgcontainer img {
      height: 300px;
      object-fit: cover;
   }

   #quantity {
      gap: 16px;
   }
   .add-cart {
      flex: 1 auto;
      font-size: 13px;
   }
}

@media (max-width: 400px) {
   .prices {
      gap: 2px;
   }
}

@media (max-width: 388px) {
   .prices span {
      display: none;
   }
}
